<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Resume - Ahmet Çiftçi</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Ahmet Çiftçi</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/assets/img/ahmetc.jpg" /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Hakkımda</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Deneyim</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Eğitim</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Yetenekler</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">İlgi Alanlarım</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Projelerim</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Ahmet
                    <span class="text-primary">Çiftçi</span>
                </h1>
                <div class="subheading mb-5">
                    Full-Stack Web Developer
                    <a href="mailto:aciftci976@gmail.com">aciftci976@gmail.com</a>
                </div>
                <p class="lead mb-5">Ben Ahmet! Konya Teknik Üniversitesinde 3.sınıf öğrencisiyim. Bir yıldır web programlama alanında kendimi geliştiriyorum. Arkadaşlarımla beraber projeler geliştirdiğimiz bir ekibimiz bile var. İnatçı oluşum sebebiyle araştırmayı seviyorum.</p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/ahmet-çiftçi-64a47a21b/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/ahmetcdevelopment"><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="https://twitter.com/ahmetc_exe"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Junior Web Developer</h3>
                        <div class="subheading mb-3">Intelitec Solutions</div>
                        <p>Selçuk Üniversitesi Teknokent'te bulunan bir şirkette 7 aydır gönüllü stajyerim. ASP.Net Core, Mvc, jQuery, n - tier architecture gibi teknolojilerde kendimi geliştiriyorum. </p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Haziran 2022 - Present</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Eğitim</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Konya Teknik Üniversitesi</h3>
                        <div class="subheading mb-3">Lisans Derecesi</div>
                        <div>Mühendislik ve Doğa Bilimleri Fakültesi - Bilgisayar Mühendisliği</div>
                        <p>GPA: 2.75</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Eylül 2021 - Haziran 2024</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Selçuk Üniversitesi</h3>
                        <div class="subheading mb-3">Teknoloji Fakültesi - Bilgisayar Mühendisliği</div>
                        <p>GPA: 3.35</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Eylül 2020 - Haziran 2021</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Yetenekler</h2>
                <div class="subheading mb-3">Programming Languages & Tools</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                    <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                    <li class="list-inline-item"><i class="fab fa-react"></i></li>
                    <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                    <li class="list-inline-item"><i class="fab fa-java"></i></li>
                    <li class="list-inline-item"><i class="fa fa-csharp"></i></li>
                </ul>
                <div class="subheading mb-3">İş Akışı</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Web Development - Inforce Bilişim Teknolojileri
                    </li>
                </ul>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Interests-->
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h2 class="mb-5">İlgi Alanlarım</h2>
                <p>Yazılım geliştirmenin yanı sıra, gezmeyi ve keşfetmeyi severim. Kaleler, medeniyetler, doğal güzellikler... İmkanım oldukça yurtiçi ve yurtdışı gezilere gitmek benim için vazgeçilmezlerim arasında.</p>
                <p class="mb-0">Bunların yanında fantastik bilimkurgu ve gizem temalı filmler izlemeyi severim. Sistem eleştirisi yapan filmler ise favorim. Mesela Fight Club, Se7en, Pulp Fiction vs...</p>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Awards-->
        <section class="resume-section" id="awards">
            <div class="resume-section-content">
                <h2 class="mb-5">Projelerim</h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Yazılımcılar İçin Blog Sitesi - 2022
                    </li>
                     <li>
                       <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Stok ve Cari Takip Sistemi - 2022
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Personel Takip Sistemi - 2022
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Müşteri Takip Sistemi(Sanayi İşletmeleri İçin) - 2022
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Randevu Takip Sistemi - 2022
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
